@import url('https://fonts.cdnfonts.com/css/microsoft-sans-serif');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  

    font-family: 'Microsoft Sans Serif', sans-serif;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.jpg");
    filter: invert(70%);
    z-index: -1;
}

img.logo {
    width: 50px;
}

.form {
    padding: 20px;
    margin: 20px;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.rainbow {
	position: relative;
	background: #fff;
}
.rainbow:before,
.rainbow:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, 
        #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, 
        #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: rainbow 25s linear infinite;
}
@keyframes rainbow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.rainbow:after {
	filter: blur(50px);
}
